
{% extends 'base.html' %}

{% block content %}
<h1>Ventas</h1>
<form method="get" action="{% url 'sales:index' %}">
    <p>Buscar por id: <input type="text" value='{{filter}}' name="filter"/></p>
    <p><input type="submit" name="submit" value="submit"/></p>
</form>

<div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar tableFixHead">
	<table class="table">
		<thead class="thead-dark">
			<th></th>
			<th class="text-nowrap">Id</th>
			<th class="text-nowrap">Estatus</th>
			<th class="text-nowrap">Usuario Comprador</th>
			<th class="text-nowrap">Comprador</th>
			<th class="text-nowrap">Monto total</th>
			<th class="text-nowrap">Total productos</th>
			<th class="text-nowrap">Estatus de envio</th>
			<th class="text-nowrap">Modo de envio</th>
			<th class="text-nowrap">Fecha de venta</th>
			<th class="text-nowrap">Fecha de entrega</th>
			<th class="text-nowrap">Logistica</th>
		</thead>
		<tbody>
			{% for sale in sales %}
			<tr>
				<td class="text-nowrap">
					{{ forloop.counter }}
				</td>
				<td class="text-nowrap">
					{{ sale.ml_id }}
				</td>
				<td class="text-nowrap">
					{{ sale.status }}
				</td>
				<td class="text-nowrap">
					{{ sale.buyer.nickname }}
				</td>
				<td class="text-nowrap">
					{{ sale.buyer }}
				</td>
				<td class="text-nowrap">
					{{ sale.total_amount }}
				</td>
				<td class="text-nowrap">
					{{ sale.productsale_set.all.count }}
				</td>
				<td class="text-nowrap">
					{{ sale.shipping.status }}
				</td>
				<td class="text-nowrap">
					{{ sale.shipping.mode }}
				</td>
				<td class="text-nowrap">
					{{ sale.date_created|date:"D d M Y"}}
				</td>
				<td class="text-nowrap">
					{{ sale.shipping.delivered_date|default_if_none:"" }}
				</td>
				<td class="text-nowrap">
					{{ sale.shipping.logistic }}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
