<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>GoyleTecnologia</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
	<ul>
		<li>
			<a href="{% url 'sales:index' %}">Ventas</a>
		</li>
		<li>
			<a href="{% url 'products:index' %}">Productos</a>
		</li>
		<li>
			<a href="{% url 'reports:sales_report' %}">Reporte de ventas</a>
		</li>
	</ul>
	{% if user.is_authenticated %}
	<a href="/auth/logout">Logout</a>
	{% endif %}
	{% block content %}
	{% endblock %}
  <script src="js/scripts.js"></script>
</body>
</html>
